@using Application.Dtos.ProductDetailDtos
@{
    var productDetails = ViewData["ProductDetails"] as List<IndexProductDetailDto>;
}

@if (productDetails.Any()) {
    <div class="container mt-4">
        <div class="row">
            <!-- Sản phẩm 1 -->
            @foreach (var item in productDetails) {
				@await Component.InvokeAsync("CardProductDetail", new { productDetail = item })
            }
        </div>
    </div>
} 
else {
	<div class="container mt-4">
		<div class="row">
			<div class="col-12">
				<h2 class="text-center">Không có sản phẩm nào</h2>
			</div>
		</div>
	</div>
}

