<!-- Top Header -->
<div class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <small>Hệ thống cửa hàng toàn quốc | Liên hệ: <strong>1800.2097</strong></small>
            </div>
            <div class="col-md-6 text-end">
                <small>Tin tức | Tuyển dụng | Tra cứu đơn hàng</small>
            </div>
        </div>
    </div>
</div>
<!-- End Top Header -->
<!-- Main Header -->
<header class="main-header sticky-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="~/Image/LogoShopTech.png" alt="CellphoneS Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarMain">
                    <form class="search-form mx-lg-4 my-2 my-lg-0">
                        <input class="form-control" type="search" placeholder="Bạn cần tìm gì hôm nay?">
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </form>
                    <div class="header-icons ms-auto d-flex align-items-center">
                        <a href="#" class="position-relative">
                            <i class="fas fa-bell"></i>
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning">2</span>
                        </a>
                        <a href="#" class="position-relative">
                            <i class="fas fa-shopping-cart"></i>
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning">5</span>
                        </a>
                        <a href="#">
                            <i class="fas fa-user"></i>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
<!-- End Main Header -->