@{
    var user = ViewData["User"] as UserViewModel;
}
<link rel="stylesheet" href="~/css/Header.css" />


<!-- Top Header -->
<div class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <small>Hệ thống cửa hàng toàn quốc | Liên hệ: <strong>1800.2097</strong></small>
            </div>
            <div class="col-md-6 text-end">
                <small>Tin tức | Tuyển dụng | Tra cứu đơn hàng</small>
            </div>
        </div>
    </div>
</div>
<!-- End Top Header -->
<!-- Main Header -->
<header class="main-header sticky-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" asp-action="Index" asp-controller="Home">
                    <img src="~/Image/LogoShopTech.png" alt="Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarMain">
                    <form class="search-form mx-lg-4 my-2 my-lg-0">
                        <input class="form-control" type="search" placeholder="Bạn cần tìm gì hôm nay?">
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </form>
                    <div class="header-icons ms-auto d-flex align-items-center">
                        
                        <a asp-action="Index" asp-controller="Cart" class="position-relative">
                            <i class="fas fa-shopping-cart"></i>
                        </a>

                        @if (user != null)
                        {
                            <div class="dropdown">
                                <a class="dropdown-toggle d-flex align-items-center" href="#" role="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-user me-1"></i>
                                    <span class="ms-1">Xin chào, @user.Name</span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                    <li><a class="dropdown-item text-dark" asp-action="Profile" asp-controller="Account">Thông tin cá nhân</a></li>
                                    <li><a class="dropdown-item text-dark" asp-action="Orders" asp-controller="Account">Đơn hàng</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item text-dark" asp-action="Logout" asp-controller="Account">Đăng xuất</a></li>
                                </ul>
                            </div>
                        }
                        else
                        {
                            <a class="dropdown-toggle d-flex align-items-center" asp-action="Login" asp-controller="Account">
                                <i class="fas fa-user me-1"></i>
                                <span class="ms-1">Đăng nhập</span>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
<!-- End Main Header -->