<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <!-- Section: Social media -->
    <section class="container d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Thông tin kết nối với SHOPTECH:</span>
        </div>
        <!-- Left -->
        <!-- Right -->
        <div>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->  

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>SHOP TECH
                    </h6>
                    <p>
                        Chúng tôi chuyên cung cấp các sản phẩm công nghệ mới nhất, đảm bảo chất lượng và nguồn gốc xuất sứ. Cùng với đó
                        là các dịch vụ phục vụ khách hàng từ lúc mua hàng đến bảo hành về sau.
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Products
                    </h6>
                    <p>
                        <a href="~/ProductDetail/dien_thoai" class="text-reset">Điện thoại - Smartphone</a>
                    </p>
                    <p>
                        <a href="~/ProductDetail/lap_top" class="text-reset">Laptop</a>
                    </p>
                    <p>
                        <a href="~/ProductDetail/camera" class="text-reset">Camera</a>
                    </p>
                   
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Các liên kết tiện ích
                    </h6>
                    <p>
                        <a href="@Url.Action("Index","Home")" class="text-reset">Trang chủ</a>
                    </p>
                    <p>
                        <a href="@Url.Action("Index","Cart")" class="text-reset">Giỏ hàng</a>
                    </p>
                    <p>
                        <a href="@Url.Action("MyOrders","Order")" class="text-reset">Đơn hàng</a>
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Liên hệ</h6>
                    <p><i class="fas fa-home me-3"></i>Trường Đại học Công Nghiệp Hà Nội</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        trdhuy21@gmail.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i>+84 336 361 384</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="https://github.com/TrDHuy21/">TrDHuy21</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->