@using Application.Dtos.CategoryDtos
@{
    ViewData["Title"] = "Home Page";
    var categories = ViewData["Categories"] as List<IndexCategoryDto>
        ?? new List<IndexCategoryDto>();
}
<link rel="stylesheet" href="~/css/TrangChu.css" asp-append-version="true" />

<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            @await Component.InvokeAsync("CategoryMenu")
        </div>

        <div class="col-md-9">
            <div id="bannerCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/Image/Banner/asus.webp" class="d-block" alt="Banner 1">
                    </div>
                    <div class="carousel-item">
                        <img src="~/Image/Banner/iphone-16-pro-max-thu-cu-moi-home.webp" class="d-block" alt="Banner 2">
                    </div>
                    <div class="carousel-item">
                        <img src="~/Image/Banner/m4-len-doi-tang-airpods-4.webp" class="d-block" alt="Banner 3">
                    </div>
                    <div class="carousel-item">
                        <img src="~/Image/Banner/poco-x7-moi-home.webp" class="d-block" alt="Banner 4">
                    </div>
                    <div class="carousel-item">
                        <img src="~/Image/Banner/s25-home-moi.webp" class="d-block" alt="Banner 5">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#bannerCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#bannerCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    @foreach(var c in categories)
    {
		<div class="row">
            @await Component.InvokeAsync("StatusFilteredProduct", new { categoryName = c.UrlName, filter = "ishot", name = c.Name + " nổi bật" })
		</div>
    } 
    @* @await Component.InvokeAsync("StatusFilteredProduct", new { categoryName = "laptop", filter = "ishot", name = "Laptop nổi bật" }) *@
    @* @await Component.InvokeAsync("StatusFilteredProduct", new { categoryName = "dien_thoai", filter = "ishot", name = "Điện thoại nổi bật" }) *@
    @* @await Component.InvokeAsync("StatusFilteredProduct", new { categoryName = "camera", filter = "ishot", name = "Camera" }) *@
</div>

