@model IEnumerable<Application.Dtos.ProductDetailDtos.IndexProductDetailDto>

@if (Model != null && Model.Any())
{
	<section class="mb-4">
		<h3 class="section-title">@TempData["Name"]</h3>
		<div class="row">
			@foreach (var item in Model)
			{
				@await Component.InvokeAsync("CardProductDetail", new { productDetail = item })
			}
		</div>
	</section>
}